.grant {
  background-color: $color-cerulean-blue;
  padding-top: 120px;
  padding-bottom: 120px;

  @include vp-1439 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

}

.grant__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 138px;

  @include vp-1439 {
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
}


.grant__text {
  h2 {
    margin: 0;
    margin-bottom: 42px;
    font-size: 50px;
    font-weight: 400;
    line-height: 50px;
    color: $color-default-white;

    @include vp-1439 {
      font-size: 34px;
    }

    @include vp-767 {
      margin-bottom: 21px;
      font-size: 20px;
      line-height: 20px;
    }
  }

  p {
    margin: 0;
    margin-bottom: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    color: $color-alabaster;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.grant__img {
  width: 498px;
  height: 363px;

  @include vp-1439 {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}


.grant__content {
  display: flex;
  flex-direction: column;
  p {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: $color-default-white;
    padding-right: 30px;

    @include vp-1439 {
      padding-right: 0;
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.grant__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 23px;
  counter-reset: steps;
  margin-top: auto;


  @include vp-1439 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    margin-top: 50px;
  }

  @include vp-767 {
    grid-template-columns: 1fr;
  }
}

.grant__item {
  position: relative;
  padding: 22px 60px 22px 23px;
  border: 1px solid $color-default-white;
  border-radius: 16px;
  color: $color-default-white;

  &::after {
    position: absolute;
    counter-increment: steps;
    content: counter(steps);
    z-index: 1;
    font-size: 22px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: .22px;
    text-align: center;
    padding: 10px;
    left: -21px;
    top: -16px;
    width: 42px;
    height: 42px;
    border-radius: 30px;
    background-color: #316dc2;
    color: inherit;
  }


  p {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: inherit;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}
