.hero__slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 800px;
  padding-bottom: 60px;
}

.hero__slide__image {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}


.hero__slide__image img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero__content {
  display: flex;
  flex-direction: column;
}

.hero__content h3 {
  margin: 0;
  font-size: 54px;
  font-weight: 400;
  line-height: 62px;
  color: $color-cerulean-blue;
  background-color: #fff;
  max-width: 968px;
  width: 100%;
  padding: 40px 50px 30px;
  border-radius: 0 30px 30px 0;
}

.hero__content__footer {
  display: flex;
  padding: 0 50px 35px;
  gap: 30px;
  background-color: #ffffff;
  width: 62.23%;
  max-width: 772px;
  border-radius: 0 0 30px 30px;
}

.hero__content__footer p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  color: $color-charcoal;
}

.hero__pagination {
  position: relative;
  display: flex;
  gap: 12px;
  width: fit-content;
  height: fit-content;
  padding: 14px 20px;
  border-radius: 20px 20px 0 0;
  background-color: #fff;
}

.hero__pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid #316dc2;
  background-color: #fff0;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color .3s ease;
  
  &--active {
    background-color: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-cerulean-blue;
  }
}