// Colors

$color-default-black: #000000;
$color-default-white: #ffffff;
$color-charcoal: #484848;
$color-alabaster: #f0efe9;
$color-cerulean-blue: #316dc2;
$color-endeavour: #275699;
$color-mischka: #a9afb7;
$color-wild-watermelon: #ff5e66;

$color-cerulean-blue-20: rgba(49, 109, 194, 0.2);
$color-black-pearl-40: rgba(13, 29, 51, 0.4);


// Fonts

$fz-default: 16px;
$ff-marope: 'Manrope', 'Arial', sans-serif;


// Animation

$tf-default: ease;
$trans-default: 0.3s $tf-default;

// Breakpoints

$vp-1440: 1440px;
$vp-768: 768px;